@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body{
  background-color: grey;
  font-family: 'Press Start 2P';
}

.center{
  text-align: center;
}

#title{
  font-size: 60px;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  margin-bottom: 0px;
}

ul{
  margin-top: -10px;
  margin-left: -25px;
  list-style: none;
  font-size: 25px;
}

canvas{
  border: 5px solid #666666;
}
